<header class="navbar">
    <div class="logo-section">
      <img src="images/unist_logo.png" alt="UNIST Logo" class="logo">
      <div class="lab-name">
        <h1>UNIST VIP Lab</h1>
      </div>
    </div>

    <nav class="menu">
      <ul>
        <li class="dropdown">
          <a href="#">People ▾</a>
          <ul class="dropdown-content">
            <li><a href="menu/people/professor.html">Professor</a></li>
            <li><a href="members.html">Members</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Research ▾</a>
          <ul class="dropdown-content">
            <li><a href="menu/Research.html">Research</a></li>
            <li><a href="menu/projects.html">Projects</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Publications ▾</a>
          <ul class="dropdown-content">
            <li><a href="International_Conferences.html.html">International Conferences</a></li>
            <li><a href="International_Journals.html">International Journals</a></li>
            <li><a href="members.html">Members</a></li>
          </ul>
        </li>
        <li><a href="menu/lectures.html">Lectures</a></li>

        <li class="dropdown">
          <a href="#">Board ▾</a>
          <ul class="dropdown-content">
            <li><a href="notices.html">Notices</a></li>
            <li><a href="news.html">News</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
